# USA Housing Analysis and Prediction

## Step 1: Load the dependencies

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import sklearn
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

## Step 2: Data Understanding

In [4]:
# Loading the Datasets using pandas Library
df = pd.read_csv('USA_Housing.csv')

In [5]:
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

In [6]:
# Displaying the first 5 records
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [7]:
# Displaying the shape

df.shape

(5000, 7)

In [8]:
print(f'The data has {df.shape[0]} rows, and {df.shape[1]} columns')

The data has 5000 rows, and 7 columns

In [12]:
# Displaying the Statistics

df.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [14]:
# Displaying the information of the Dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [15]:
# Checking for missing values
df.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

In [16]:
# Checking the datatypes

df.dtypes

Avg. Area Income                float64
Avg. Area House Age             float64
Avg. Area Number of Rooms       float64
Avg. Area Number of Bedrooms    float64
Area Population                 float64
Price                           float64
Address                          object
dtype: object

In [19]:
# Checking for duplicate records
df.duplicated().sum()

0

## Step 3: Data Wrangling

In [20]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [21]:
# Converting all columns to lower case
df.columns = df.columns.str.lower()
df.columns

Index(['avg. area income', 'avg. area house age', 'avg. area number of rooms',
       'avg. area number of bedrooms', 'area population', 'price', 'address'],
      dtype='object')

In [26]:
# Checking the Highest, Lowest, and Average House Price
print('maximum price: ', {df['price'].max()})
print('minimum price: ', {df['price'].min()})
print('average price: ', {df['price'].mean()})

maximum price:  {2469065.5941747027}
minimum price:  {15938.657923287848}
average price:  {1232072.65414236}

In [36]:
df['address']

0       208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1       188 Johnson Views Suite 079\nLake Kathleen, CA...
2       9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3                               USS Barnett\nFPO AP 44820
4                              USNS Raymond\nFPO AE 09386
                              ...
4995                     USNS Williams\nFPO AP 30153-7653
4996                PSC 9258, Box 8489\nAPO AA 42991-3352
4997    4215 Tracy Garden Suite 076\nJoshualand, VA 01...
4998                            USS Wallace\nFPO AE 73316
4999    37778 George Ridges Apt. 509\nEast Holly, NV 2...
Name: address, Length: 5000, dtype: object

In [37]:
df.head()

,avg. area income,avg. area house age,avg. area number of rooms,avg. area number of bedrooms,area population,price,address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

## Correlation

In [38]:
# Selecting only the numerical columns

numerical_columns = df.select_dtypes(include = [int, float])

numerical_columns

,avg. area income,avg. area house age,avg. area number of rooms,avg. area number of bedrooms,area population,price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [39]:
numerical_columns.corr()

,avg. area income,avg. area house age,avg. area number of rooms,avg. area number of bedrooms,area population,price
avg. area income,1.000000,-0.002007,-0.011032,0.019788,-0.016234,0.639734
avg. area house age,-0.002007,1.000000,-0.009428,0.006149,-0.018743,0.452543
avg. area number of rooms,-0.011032,-0.009428,1.000000,0.462695,0.002040,0.335664
avg. area number of bedrooms,0.019788,0.006149,0.462695,1.000000,-0.022168,0.171071
area population,-0.016234,-0.018743,0.002040,-0.022168,1.000000,0.408556
price,0.639734,0.452543,0.335664,0.171071,0.408556,1.000000

## Step 4: Data Preparation for Prediction

In [40]:
df.columns

Index(['avg. area income', 'avg. area house age', 'avg. area number of rooms',
       'avg. area number of bedrooms', 'area population', 'price', 'address'],
      dtype='object')

In [45]:
# Splitting into dependent and independent variables

x = df.drop(['price', 'address'], axis = 1)
y = df.drop(['avg. area income', 'avg. area house age', 'avg. area number of rooms',
       'avg. area number of bedrooms', 'area population', 'address'], axis = 1)

In [46]:
print(x)
print(y)

      avg. area income  avg. area house age  avg. area number of rooms  \
0         79545.458574             5.682861                   7.009188
1         79248.642455             6.002900                   6.730821
2         61287.067179             5.865890                   8.512727
3         63345.240046             7.188236                   5.586729
4         59982.197226             5.040555                   7.839388
...                ...                  ...                        ...
4995      60567.944140             7.830362                   6.137356
4996      78491.275435             6.999135                   6.576763
4997      63390.686886             7.250591                   4.805081
4998      68001.331235             5.534388                   7.130144
4999      65510.581804             5.992305                   6.792336

      avg. area number of bedrooms  area population
0                             4.09     23086.800503
1                             3.09     40173.072174
2                             5.13     36882.159400
3                             3.26     34310.242831
4                             4.23     26354.109472
...                            ...              ...
4995                          3.46     22837.361035
4996                          4.02     25616.115489
4997                          2.13     33266.145490
4998                          5.44     42625.620156
4999                          4.07     46501.283803

[5000 rows x 5 columns]
             price
0     1.059034e+06
1     1.505891e+06
2     1.058988e+06
3     1.260617e+06
4     6.309435e+05
...            ...
4995  1.060194e+06
4996  1.482618e+06
4997  1.030730e+06
4998  1.198657e+06
4999  1.298950e+06

[5000 rows x 1 columns]

In [49]:
Scaler = StandardScaler()
Scaler

StandardScaler()

In [51]:
# Fit and transform our x variable
scaledx = Scaler.fit_transform(x)
scaledx

array([[ 1.02865969, -0.29692705,  0.02127433,  0.08806222, -1.31759867],
       [ 1.00080775,  0.02590164, -0.25550611, -0.72230146,  0.40399945],
       [-0.68462916, -0.11230283,  1.5162435 ,  0.93084045,  0.07240989],
       ...,
       [-0.48723454,  1.28447022, -2.17026949, -1.50025059, -0.29193658],
       [-0.05459152, -0.44669439,  0.14154061,  1.18205319,  0.65111608],
       [-0.28831272,  0.01521477, -0.19434166,  0.07185495,  1.04162464]])

## Split into training and testing set

In [54]:
x_train, x_test, y_train, y_test = train_test_split(scaledx, y, test_size = 0.2, random_state = 42)
display(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(4000, 5)

(1000, 5)

(4000, 1)

(1000, 1)

## Model Build -- Linear Regression

In [57]:
from sklearn.linear_model import LinearRegression
regress = LinearRegression()
regress

LinearRegression()

In [59]:
regress.fit(x_train, y_train)

LinearRegression()

In [60]:
y_pred = regress.predict(x_test)
display(y_test, y_pred)

             price
1501  1.339096e+06
2586  1.251794e+06
2653  1.340095e+06
1055  1.431508e+06
705   1.042374e+06
...            ...
4711  1.107031e+06
2313  1.405505e+06
3214  1.924156e+06
2732  1.571254e+06
1926  8.831475e+05

[1000 rows x 1 columns]

array([[1308587.92699753],
       [1237037.22949428],
       [1243429.34030687],
       [1228900.21360379],
       [1063320.9071082 ],
       [1544058.05034856],
       [1094774.70493022],
       [ 833284.72339228],
       [ 788412.85578724],
       [1469714.86615707],
       [ 671728.43662066],
       [1606818.21977935],
       [1004166.61331062],
       [1796798.97595927],
       [1288566.96221017],
       [1087782.93301077],
       [1423072.37492526],
       [1078178.68169673],
       [ 802286.03537901],
       [ 930761.03695714],
       [1134829.86477819],
       [ 916398.42023136],
       [1489972.69335422],
       [1284580.15538819],
       [1582071.3532273 ],
       [1132519.15991993],
       [1089888.39644513],
       [ 974510.51872158],
       [ 924057.96820669],
       [1740759.72092272],
       [1286481.5951232 ],
       [1621289.9517161 ],
       [1435264.20161716],
       [1234014.77924484],
       [1485434.57300368],
       [1718335.00753687],
       [1538953.74882846],
       [ 777106.64791795],
       [1765201.52243617],
       [1175972.1419982 ],
       [1553707.94323484],
       [ 897703.67505177],
       [1371049.80326608],
       [ 845281.72310359],
       [1201022.89803883],
       [1133285.98450856],
       [1363128.14557352],
       [1449814.08768269],
       [1574363.90467353],
       [1233577.50265971],
       [1484464.01606206],
       [1295276.5894355 ],
       [1222136.77335287],
       [ 990124.41659783],
       [1693824.96035767],
       [1823785.05665098],
       [1136495.63903356],
       [1282164.40305634],
       [1327292.0544315 ],
       [1353355.51909084],
       [ 966265.44345958],
       [ 661906.63917318],
       [1533750.56861   ],
       [1002479.76053659],
       [ 995799.79959537],
       [1567349.59707243],
       [1500813.63482575],
       [1090078.00056424],
       [1820964.84741687],
       [1479856.16724362],
       [ 902785.3021607 ],
       [1494542.21679587],
       [1378859.29762368],
       [ 962610.88478571],
       [ 712800.76347479],
       [1565650.37425306],
       [1149218.97654372],
       [ 931311.21938344],
       [1600923.95574326],
       [ 506875.42639206],
       [1592924.03164876],
       [1292023.54953345],
       [ 681260.98813948],
       [ 432977.16110003],
       [1395334.63471214],
       [ 696834.50740128],
       [ 663613.86440609],
       [1030075.8256702 ],
       [1485134.02140126],
       [1320071.7532911 ],
       [1271264.11329312],
       [1422274.66428993],
       [ 671601.8958332 ],
       [1149995.64271578],
       [1261301.82190815],
       [ 784691.75366839],
       [1189915.30485933],
       [1014887.17531208],
       [1405378.85714974],
       [1539076.97995915],
       [ 593301.15079216],
       [1391801.76393835],
       [1262742.70864071],
       [1875132.68141895],
       [2336899.33387145],
       [ 946302.25269158],
       [1315655.58002703],
       [ 953107.00437485],
       [1831758.27483189],
       [1625882.69024163],
       [1639245.35999713],
       [1267016.02457592],
       [1804840.84718865],
       [1220829.46104254],
       [ 850670.8593464 ],
       [1584187.59595384],
       [ 761904.58839441],
       [1360032.80169306],
       [1186062.16197453],
       [1559470.32105866],
       [1770323.74482786],
       [1608248.53684161],
       [1573661.86962671],
       [1531208.643762  ],
       [1812547.75249827],
       [1124965.3786236 ],
       [ 669517.22471198],
       [ 978249.45590807],
       [1316294.24560632],
       [1627775.48942888],
       [1343329.23943771],
       [1088746.2176744 ],
       [1516813.82322278],
       [1333391.562564  ],
       [1421961.53699945],
       [1527965.13951308],
       [1674048.5694694 ],
       [1301125.76637798],
       [ 843902.14276129],
       [1439397.74699529],
       [1857462.44038397],
       [1090388.23396924],
       [1845464.91767034],
       [1272015.37672477],
       [2036878.56552224],
       [ 882686.73444801],
       [ 954142.09498701],
       [1116676.58455375],
       [1395124.12307559],
       [1510721.91006254],
       [ 952949.66077823],
       [ 969883.09423411],
       [1320445.66982244],
       [1494548.61488436],
       [1311797.03936304],
       [ 764593.88740283],
       [1729945.04026354],
       [ 966390.95323435],
       [1980014.56655157],
       [1253548.56040175],
       [1378043.01470114],
       [1465705.85673362],
       [1041643.25777137],
       [2016178.12307685],
       [1425286.31755893],
       [ 783766.0559874 ],
       [ 826322.77792506],
       [1753896.36530117],
       [1077079.69502187],
       [2073701.72252869],
       [1735967.08463087],
       [1049433.84156024],
       [1829294.89844263],
       [1128895.79613789],
       [1629029.35283931],
       [1634470.42260721],
       [1524785.70964574],
       [ 722156.79424148],
       [ 740342.6213118 ],
       [ 547622.83148174],
       [ 828931.14665384],
       [1067364.15017838],
       [ 969253.52659217],
       [1227292.55245929],
       [ 871755.12799321],
       [ 504202.02965933],
       [1200044.47873911],
       [1062310.88487676],
       [1519500.99297217],
       [1329223.54689563],
       [1386542.64820157],
       [1320937.40536535],
       [1204359.90632369],
       [1240619.19034585],
       [1365626.9148404 ],
       [1769953.37847156],
       [1329720.91129388],
       [1376332.51764138],
       [1298990.36407934],
       [ 834744.40310691],
       [1272066.20149398],
       [1451499.03548571],
       [1289190.82085873],
       [ 896873.03598605],
       [ 990437.07011064],
       [1357842.65851701],
       [1649364.37150986],
       [ 779324.24924987],
       [1005588.56759391],
       [1467831.8143514 ],
       [1124908.45994292],
       [1142768.93653071],
       [1250196.34738781],
       [1105424.47695209],
       [ 622294.93861755],
       [1841657.41212543],
       [1182731.53995535],
       [ 609160.57633582],
       [1410661.53419285],
       [1263529.22101351],
       [1119673.80759923],
       [1145399.95692909],
       [ 500449.33290936],
       [1109883.63039247],
       [1626981.19957433],
       [ 797675.8443249 ],
       [1407092.10326882],
       [1560733.66870763],
       [1698894.16984507],
       [1714320.59543068],
       [1216152.65562659],
       [1114774.40354014],
       [1001067.89613666],
       [1065269.68436431],
       [1625179.02290143],
       [1593962.78450215],
       [1526221.35988258],
       [1129983.77332892],
       [ 735887.82286943],
       [1593872.80909068],
       [1732256.51293198],
       [1264953.46131032],
       [1216712.64382582],
       [1539828.39332796],
       [1748273.31153999],
       [ 544482.71161661],
       [1177808.65915496],
       [1404019.93663773],
       [1125393.51909433],
       [ 545088.45128042],
       [1290749.88927789],
       [1658361.89913354],
       [1487203.28008238],
       [1291143.03838434],
       [2050455.16760477],
       [ 768874.19747942],
       [1863631.84714407],
       [ 929819.17764112],
       [1761083.62018226],
       [1659001.75083663],
       [1247438.96208985],
       [ 713427.40837863],
       [1778756.53025779],
       [ 461932.49611752],
       [2167306.95873264],
       [ 664672.4243193 ],
       [1801836.6236774 ],
       [1265099.1880536 ],
       [1139217.30086017],
       [1173989.48300949],
       [1748192.41949269],
       [1147793.31302187],
       [1029923.90766746],
       [ 947126.10538084],
       [1182469.49434707],
       [ 927601.20005205],
       [1566514.61685738],
       [1175827.55938908],
       [ 388087.54801484],
       [1288959.37006145],
       [ 986658.19197298],
       [1340019.64945833],
       [1044418.84541083],
       [1286342.56336187],
       [1531000.55785357],
       [1667768.88543332],
       [1084796.51405699],
       [ 720967.43062555],
       [ 811997.72885684],
       [1328871.66384414],
       [1519499.8441614 ],
       [1379415.47205365],
       [1457746.58240932],
       [ 998979.73972465],
       [2252173.82126783],
       [1491966.70905193],
       [1349013.08643534],
       [1042666.25727805],
       [ 486559.46844395],
       [1792549.96363362],
       [1193458.84754759],
       [1247203.2650346 ],
       [1122698.470459  ],
       [1004013.28018439],
       [1699121.45816285],
       [1504252.14207265],
       [1432835.58985619],
       [1342786.68025929],
       [1601414.77106587],
       [ 821506.76488328],
       [1126578.53904203],
       [1291476.44544075],
       [1698968.44222487],
       [1232602.93325316],
       [1489643.67510282],
       [1233262.35005563],
       [1135048.11749458],
       [1732127.82573486],
       [1348162.21747035],
       [ 621085.0664122 ],
       [1501389.10755783],
       [1201749.81984403],
       [1326727.70232235],
       [1097551.72695623],
       [1221290.66261425],
       [ 788262.02543894],
       [ 935562.28249786],
       [1287412.17867104],
       [1473888.6775775 ],
       [ 609893.86640511],
       [1183181.37838133],
       [1035484.44410104],
       [ 809285.45806948],
       [ 655567.08949344],
       [ 983743.80081309],
       [ 986631.41757969],
       [1320596.6797412 ],
       [1196954.70045302],
       [ 961010.91970382],
       [1275847.42178946],
       [1425242.66569539],
       [1654320.5462463 ],
       [1521722.43867606],
       [1396978.62698702],
       [1413827.92718154],
       [1219885.02000701],
       [1232374.59901522],
       [1654016.63386537],
       [1328324.05157968],
       [1321091.57152387],
       [1299216.74514674],
       [1347305.90163771],
       [1688687.80000864],
       [1574519.36949694],
       [1045335.69889285],
       [1356261.70016948],
       [1439514.971525  ],
       [1504156.15649869],
       [1138145.82597035],
       [1500051.72294337],
       [1486912.30437998],
       [ 385027.92485999],
       [1216217.42146594],
       [1726329.91434923],
       [1207805.98489514],
       [ 894601.19092626],
       [1240643.83179285],
       [1308440.22054395],
       [1437359.37891257],
       [ 893239.68166879],
       [1792787.36750125],
       [2076933.42343302],
       [ 922567.65701986],
       [1458351.25849102],
       [1249772.50297785],
       [1370805.2390778 ],
       [1121245.98909368],
       [ 963231.49570943],
       [1327241.12918493],
       [1187327.23418147],
       [ 943716.6227825 ],
       [ 424854.57298685],
       [1223724.58352513],
       [1411756.82716383],
       [1236002.32151806],
       [1449021.08575985],
       [1411706.42320678],
       [ 926881.67780977],
       [1006631.71873009],
       [1325140.65527606],
       [ 470014.10664424],
       [1568408.5462066 ],
       [1071690.67501272],
       [1261709.43785533],
       [ 983184.15258551],
       [1086377.76905151],
       [ 726363.6082078 ],
       [ 814172.12713781],
       [ 803025.54888494],
       [1619615.99437113],
       [ 459335.13663637],
       [1300390.90011237],
       [ 961516.33244589],
       [1025131.0402014 ],
       [1384778.89206895],
       [1235853.66369869],
       [ 769788.89201956],
       [1026166.69741535],
       [1405638.84930899],
       [1756291.11652805],
       [1280487.11746948],
       [ 622591.98844804],
       [1449923.84156164],
       [1198418.94698595],
       [1356968.16583368],
       [1079271.72703227],
       [1352329.772969  ],
       [1057107.45852897],
       [1290462.77150206],
       [ 705163.48550151],
       [1200364.66997085],
       [1507695.00401127],
       [ 962337.84598505],
       [1204232.84729745],
       [1571860.58065069],
       [1209464.7385739 ],
       [1549865.08072289],
       [ 769645.60725032],
       [1404674.43922868],
       [1240637.52783343],
       [1029500.08001609],
       [1335457.58612478],
       [1088594.03736515],
       [1047144.04180916],
       [1388984.12610584],
       [ 918924.0160506 ],
       [1096407.50174601],
       [1406966.35948342],
       [ 806952.29876919],
       [1196187.41426746],
       [1010141.32136393],
       [1394711.98478674],
       [1257521.42006921],
       [1299693.11290881],
       [1294970.94288743],
       [1723105.21964963],
       [1711247.39032019],
       [1174489.95194177],
       [ 897740.74110076],
       [1356640.83884512],
       [1219851.0344761 ],
       [1366674.22214328],
       [1644472.14734956],
       [ 724989.37808688],
       [1570999.00692569],
       [ 924989.36290681],
       [ 673283.26497681],
       [1589694.70648673],
       [1373578.19145103],
       [1236758.80570285],
       [1939038.59441381],
       [1248340.03854162],
       [1393184.15037959],
       [1703469.17720872],
       [1059230.86749252],
       [1268676.36389754],
       [1304697.18785125],
       [ 892460.12277119],
       [ 964864.99058504],
       [ 818820.07759955],
       [1401580.54747599],
       [1180874.94215969],
       [1259247.43803584],
       [1702902.0449321 ],
       [1649087.11983952],
       [1731289.88335339],
       [1125719.05993073],
       [ 865172.86237619],
       [ 968232.22605803],
       [ 784711.55849789],
       [ 781822.82332183],
       [1209737.47415571],
       [ 972635.23672588],
       [1576919.83616685],
       [1060076.42506713],
       [ 694196.84219458],
       [1610587.6799302 ],
       [1309658.61630396],
       [1141463.96987403],
       [1205906.98599982],
       [1281336.18444196],
       [1171886.92407696],
       [1567896.45068222],
       [1322659.49232209],
       [1166515.84227938],
       [ 789697.38830697],
       [1143720.96771717],
       [ 648247.70636875],
       [1071126.44204648],
       [1428574.57982148],
       [1424322.83234077],
       [1057501.45875363],
       [1430509.55156463],
       [1324079.70373617],
       [1292014.89736639],
       [1071126.32745136],
       [1287175.72484572],
       [1019167.68338679],
       [1037478.15144002],
       [1049936.76364932],
       [ 731789.1846748 ],
       [ 782568.7730998 ],
       [1002203.86002298],
       [1067321.67597081],
       [1124201.97076036],
       [1457954.83235615],
       [1108354.56185649],
       [1598770.07901397],
       [1176022.85579926],
       [1096986.73368026],
       [1247383.41805667],
       [1363559.48178174],
       [ 773372.64579646],
       [ 822330.64613232],
       [ 993393.81206808],
       [1543915.0952089 ],
       [1493186.91902698],
       [1175891.67528421],
       [1253692.12639572],
       [1521005.76686472],
       [1627802.51180481],
       [1686082.39992531],
       [1980124.37797512],
       [ 977460.80106586],
       [1109687.22060448],
       [1113007.40549511],
       [1211544.64900674],
       [1407486.32673221],
       [ 789313.25630093],
       [1234898.66189969],
       [1209078.69432798],
       [1803383.95080035],
       [2114888.79328749],
       [1118853.92157735],
       [1206707.38468588],
       [1352852.99343915],
       [1396175.67664047],
       [1546374.75741946],
       [ 666842.59065999],
       [1481420.71952328],
       [1021477.4551856 ],
       [ 968486.88335868],
       [1424082.26366316],
       [1914787.24107147],
       [ 914204.87835355],
       [1489860.90731119],
       [ 693922.34630683],
       [1031062.51065996],
       [1352126.03254335],
       [1373512.52703591],
       [1049109.83383339],
       [1486525.47762758],
       [1310520.39595899],
       [1647941.99311853],
       [1283575.24055862],
       [1452989.07762655],
       [1429414.83148142],
       [1034083.03488033],
       [1134634.51460331],
       [1403564.88673515],
       [1584896.61276085],
       [1746823.45559164],
       [1466283.2597361 ],
       [1294745.41392547],
       [1051682.47255803],
       [1101548.76032242],
       [1465167.00089538],
       [1382725.06572444],
       [ 939224.93035369],
       [1337350.7679938 ],
       [1120979.59498042],
       [1319831.03770846],
       [ 558962.93258733],
       [1401611.09978713],
       [1354544.0730603 ],
       [1306334.89969625],
       [2086259.17091994],
       [1904134.11165524],
       [ 539895.35619531],
       [1525528.05146321],
       [1235213.44650025],
       [ 750639.88255388],
       [1127965.9825883 ],
       [1471490.85051137],
       [ 619419.48787426],
       [1114997.6119442 ],
       [1061464.6912306 ],
       [1013604.11379731],
       [1581434.852274  ],
       [1079499.50514174],
       [1055056.29175873],
       [1034589.95466514],
       [1224314.04495453],
       [ 887268.18862764],
       [1516254.20491763],
       [1865327.56742205],
       [1027371.06429442],
       [1490055.38180703],
       [1337289.95134347],
       [1119421.33157706],
       [ 979092.31019066],
       [ 679557.25776105],
       [1325905.50178096],
       [1171590.73226992],
       [1567491.1233194 ],
       [1143856.19166757],
       [1126148.64416495],
       [ 864154.38857824],
       [ 490147.41546337],
       [1291071.27278517],
       [1038384.50618612],
       [1662679.55956725],
       [1160624.90934374],
       [2037284.10126632],
       [1516262.89327461],
       [1229075.23311269],
       [1547218.08935949],
       [1434753.6539265 ],
       [1709132.86008351],
       [1281184.0997553 ],
       [1524044.07660792],
       [ 968015.40091316],
       [1293671.18547108],
       [1106474.84699344],
       [1431104.22750486],
       [1712068.30269059],
       [1160254.525011  ],
       [ 655742.41586152],
       [1226710.9838983 ],
       [ 927585.91056677],
       [1267635.28046136],
       [ 891680.82011569],
       [1234379.98343485],
       [ 921258.67102358],
       [ 973622.38506842],
       [1211118.49159499],
       [1152861.17191024],
       [1769241.04652306],
       [1185559.0243725 ],
       [ 982633.08890849],
       [1332532.61460759],
       [1642473.93936989],
       [ 965382.5714693 ],
       [1281975.93146422],
       [1406343.90582015],
       [ 677673.85740129],
       [1209557.69139077],
       [ 732921.1063637 ],
       [1682132.45242375],
       [ 872620.43651355],
       [1136143.09175226],
       [ 510258.75506183],
       [1288102.88621598],
       [1371033.33463941],
       [1310113.78224338],
       [1436855.31241162],
       [1051232.72974611],
       [ 684828.48739325],
       [1101019.83617952],
       [1567983.51294877],
       [1018012.68216317],
       [1050698.1127027 ],
       [ 825827.00943838],
       [1173621.66011293],
       [1591981.7573017 ],
       [1595728.99149265],
       [1360891.37529098],
       [1192754.82897986],
       [ 655836.47938465],
       [1560112.78530449],
       [ 813169.25379899],
       [1132145.75967406],
       [1564590.92451771],
       [1118669.76459815],
       [1569760.45331559],
       [1383018.33137048],
       [1609536.23008597],
       [1045549.71074358],
       [1174361.92171495],
       [1447869.79959205],
       [1824783.76109704],
       [1639844.91468792],
       [1488884.7852755 ],
       [1427514.92585404],
       [1231681.33305862],
       [1368014.03189644],
       [1424922.7358478 ],
       [1551131.49668378],
       [ 914701.22781689],
       [1249841.22219087],
       [ 258045.70919516],
       [1230968.7015731 ],
       [1126752.12639159],
       [ 858783.44109477],
       [ 739043.62099853],
       [1044214.90471308],
       [1112387.60767871],
       [1223250.56468717],
       [1447909.23403631],
       [1328619.03653288],
       [1049307.01433395],
       [ 769590.67267106],
       [1751850.88833475],
       [1463027.89759093],
       [2139919.1095231 ],
       [1718412.13713038],
       [1115993.45943523],
       [1995828.29499022],
       [1193379.31596039],
       [ 660188.5602834 ],
       [ 660678.46196095],
       [1798655.55037113],
       [ 470131.44658338],
       [1364102.16506275],
       [ 889323.7068392 ],
       [ 706548.24954176],
       [1399891.22458722],
       [1416306.27235873],
       [ 967240.32613279],
       [1729652.56536678],
       [ 869958.83238851],
       [1437817.09450813],
       [1122484.5320399 ],
       [1673255.03691752],
       [1440039.59230988],
       [1500539.4053899 ],
       [ 971584.2741693 ],
       [1043184.93567319],
       [1317543.16932968],
       [1007627.13026032],

In [61]:
from sklearn.metrics import r2_score

In [62]:
print(r2_score(y_test, y_pred))

0.9179971706834331